<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>マイページ | あなたの人生のSTEPを共有しよう</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="fontawesome-free-5.11.2-web/js/all.min.js"></script>
</head>
<body>
    <!-- ヘッダー -->
    <header class="l-header">
        <div class="p-header">
            <div class="l-site-width">
                <div class="l-row l-row--between l-row--center">
                    <div class="p-header__logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <nav class="p-header__nav">
                        <ul class="p-nav l-row">
                            <li class="p-nav__item"><a href="#" class="p-nav__link">STEP一覧</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">ログイン</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">新規会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- パンくずリスト -->
    <div class="l-bread-crumbs">
        <div class="p-bread-crumbs l-row  l-row--middle">
            <ul class="l-site-width l-row p-bread-crumbs__list">
                <li><a href="" class="p-bread-crumbs__link">ホーム</a><i class="fas fa-angle-right p-bread-crumbs__icn"></i></li>
                <li>マイページ</li>
            </ul>
        </div>
    </div>
    <!-- メインコンテンツ -->
    <div class="l-container u-bg-light">
        <div class="l-row l-row--center l-site-width">
            <!-- メインカラム -->
            <div class="l-row l-row--center l-row__col12 l-row__col08-pc">
                <form action="" class="c-form p-auth">
                        <h1 class="c-title--normal u-mb-5l">パスワードをお忘れですか？</h1>
                        <div class="c-form__group">
                            <p class="u-text-center u-mb-m">
                                STEPに登録しているメールアドレスを入力してください。
                            </p>
                            <p class="u-text-center">
                                入力されたメールアドレス宛にパスワードリセット用のリンクをお送りします。
                            </p>
                        </div>
                        <div class="c-form__group">
                            <input type="text" class="c-input c-input--full" placeholder="メールアドレス">
                            <span class="u-fontcolor--err">エラーメッセージ</span>
                        </div>
                        <div class="c-form__group">
                            <input type="submit" value="送信" class="c-btn c-btn--primary p-auth__btn">
                        </div>
                        <!-- <div class="c-form__group">
                            <div class="l-row l-row--center">
                                <i class="fas fa-paper-plane fa-7x c-form__icn--send"></i>
                            </div>
                            <h1 class="c-title--small u-mt-3l">パスワードリセット用メールを送信しました。</h1>
                            <p class="c-form__explain u-mt-xxl">
                            ご入力頂いたメールアドレス宛にメールを送信しました。メールの指示に従ってパスワードを変更してください。
                            </p>
                        </div> -->
                        
                    
                </form>
            </div>
        </div>
    </div>
    <!-- フッター -->
    <footer class="l-footer">
        <div class="p-footer">
            <a href="" class="p-footer__pageTop"><i class="fas fa-angle-double-up"></i></a>
            <div class="p-footer__logo">
                <img src="img/logo.png" alt="">
            </div>
            <small class="p-footer__copyright">Copyright ©︎ STEP All Rights Reserved.</small>
        </div>
    </footer>
</body>
</html>
