// ==============================
// ボタンコンポーネント
// ==============================
.c-btn {
    display: block;
    text-align: center;
    font-size: $font-size_m;
    padding: $space_m $space_3l;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    @include sm() {
        min-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    &:disabled {
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &:hover {
        opacity: 0.8;
    }
    &--small {
        width: 180px;
    }
    &--medium {
        width: 300px;
        padding: $space_l $space_3l;
    }
    &--big {
        width: 400px;
    }
    &--full {
        width: 100%;
    }
    &--right {
        margin-left: auto;
    }
    &--center {
        margin-right: auto;
        margin-left: auto;
    }
    &--primary {
        color: $font-color_light;
        background: $btn-color_primary;
    }
    &--success {
        color: $font-color_light;
        background: $btn-color_success;
    }
    &--warning {
        color: $font-color_light;
        background: $btn-color_warning;
    }
    &--secondary {
        color: $font-color_light;
        background: $btn-color_secondary;
        &:hover {
            opacity: 1;
        }
    }
    &--pale {
        opacity: 0.5;
    }
    &--goast {
        color: $font-color_default;
        border: $border_s solid $border-color_dark;
        transition: all .5s;
        &:hover {
            border: none;
            color: $font-color_light;
            background: $btn-color_primary;
            transition: all .5s;
        }
    }
    &--disabled {
        color: $font-color_light;
        background: $btn-color_disabled;
        cursor: not-allowed;
    }

    &--pageTop {
        position: fixed;
        right: 20px;
        bottom:20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        color: $font-color_light;
        border-radius: 100%;
        background: $background-color_base;
        line-height: 40px;
        text-align: center;
        z-index: 2;
        &:hover {
            opacity: 0.8;
        }
    }
    
}