.c-btn {
    display: block;
    text-align: center;
    font-size: $font-size_m;
    padding: $space_m $space_3l;
    box-sizing: border-box;
    @include sm() {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    &:disabled {
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &:hover {
        opacity: 0.8;
    }
    &--small {
        min-width: 150px;
    }
    &--medium {
        min-width: 300px;
        padding: $space_l $space_3l;
    }
    &--big {
        min-width: 400px;
    }
    &--full {
        width: 100%;
    }
    &--right {
        margin-left: auto;
    }
    &--center {
        margin-right: auto;
        margin-left: auto;
    }
    &--primary {
        color: $font-color_light;
        background: $btn-color_primary;
    }
    &--success {
        color: $font-color_light;
        background: $btn-color_success;
    }
    &--warning {
        color: $font-color_light;
        background: $btn-color_warning;
    }
    &--secondary {
        color: $font-color_light;
        background: $btn-color_secondary;
        &:hover {
            opacity: 1;
        }
    }
    &--clear {
        background: $btn-color_warning;
        opacity: 0.5;
    }
    &--goast {
        color: $font-color_default;
        border: $border_s solid $border-color_dark;
        transition: all .5s;
        &:hover {
            border: none;
            color: $font-color_light;
            background: $btn-color_primary;
            transition: all .5s;
        }
    }
    &--disabled {
        color: $font-color_light;
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &--trigger {
        display: none;
        @include sm() {
          display: inline-block;
        }
        transition: all .4s;
        box-sizing: border-box;
        position: relative;
        width: 50px;
        height: 32px;
        z-index: 3;
        span{
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $font-color_default;
            border-radius: 4px;
            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 14px;
            }
            &:nth-of-type(3) {
                bottom: 0px;
            }
        }
        &--active span{
            &:nth-of-type(1) {
                -webkit-transform: translateY(14px) rotate(-315deg);
                transform: translateY(14px) rotate(-315deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                -webkit-transform: translateY(-15px) rotate(315deg);
                transform: translateY(-15px) rotate(315deg);
            }
        }
    }
    &--pageTop {
        position: fixed;
        right: 20px;
        bottom:20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        color: $font-color_light;
        border-radius: 100%;
        background: $background-color_base;
        line-height: 40px;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
        
    &--twitter {
        color: $font-color_light;
        background-color: #1b95e0;
    }
}