.c-btn {
    display: block;
    text-align: center;
    // border-radius: $border-radius_s;
	// -webkit-border-radius: $border-radius_s;
    // -moz-border-radius: $border-radius_s;
    font-size: $font-size_m;
    padding: $space_m $space_3l;
    // margin-top: $space_3l;
    // margin-bottom: $space_3l;
    box-sizing: border-box;
    @include sm() {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    &:disabled {
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &:hover {
        opacity: 0.8;
    }
    &--small {
        min-width: 150px;
    }
    &--medium {
        min-width: 300px;
        padding: $space_l $space_3l;
    }
    &--big {
        min-width: 400px;
    }
    &--full {
        width: 100%;
    }
    &--right {
        margin-left: auto;
    }
    &--center {
        margin-right: auto;
        margin-left: auto;
    }
    &--primary {
        color: $font-color_light;
        background: $btn-color_primary;
    }
    &--success {
        color: $font-color_light;
        background: $btn-color_success;
    }
    &--warning {
        color: $font-color_light;
        background: $btn-color_warning;
    }
    &--secondary {
        color: $font-color_light;
        background: $btn-color_secondary;
        &:hover {
            opacity: 1;
        }
    }
    &--clear {
        background: $btn-color_warning;
        opacity: 0.5;
    }
    &--goast {
        color: $font-color_default;
        border: $border_s solid $border-color_dark;
    }
    &--disabled {
        color: $font-color_light;
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &--pageTop {
        position: fixed;
        right: 20px;
        bottom:20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        color: $font-color_light;
        border-radius: 100%;
        background: $background-color_base;
        line-height: 40px;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
    // &__share {
    //     &--circle {
    //         width: 40px;
    //         height: 40px;
    //         line-height: 40px;
    //         border-radius: 100%;
    //     }
        
    // }
    &--twitter {
        color: $font-color_light;
        background-color: #1b95e0;
    }
}