.c-btn {
    display: block;
    text-align: center;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    //box-shadow: 1px 1px 3px 0px $shadow-color_dark;
    box-sizing: border-box;
    // &:active {
    //     transform: translateY(1px);
    //     -webkit-transform: translateY(1px);
    //     box-shadow: none;
    // }
    &:disabled {
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &:hover {
        opacity: 0.8;
    }
    // &--center {
    //      margin-left: auto;
    //      margin-right: auto;
    // }
    // &--right {
    //     margin-left: auto;
    // }
    &--primary {
        color: $font-color_light;
        background: $btn-color_primary;
    }
    &--success {
        color: $font-color_light;
        background: $btn-color_success;
    }
    &--warning {
        color: $font-color_light;
        background: $btn-color_warning;
    }
    &--goast {
        color: $font-color_default;
        border: $border_s solid $border-color_dark;
    }
    &--disabled {
        background: $btn-color_disabled;
        cursor: not-allowed;
    }
    &--pageTop {
        position: fixed;
        right: 20px;
        bottom:20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        color: $font-color_light;
        border-radius: 100%;
        background: $background-color_base;
        line-height: 40px;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
    // &__share {
    //     &--circle {
    //         width: 40px;
    //         height: 40px;
    //         line-height: 40px;
    //         border-radius: 100%;
    //     }
        
    // }
    &--twitter {
        color: $font-color_light;
        background-color: #1b95e0;
    }
}