// ==============================
// セッションフラッシュメッセージ
// ==============================
.c-flash-message {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    padding: 0 $space_m;
    margin: auto;
    width: 40%;
    height: 150px;
    z-index: 2;
    box-shadow: 0 0 50px 20px $shadow-color_light;
    background: $background-color_light-opacity;
    box-sizing: border-box;
    border-radius: $border-radius_m;
	-webkit-border-radius: $border-radius_m;
    -moz-border-radius: $border-radius_m;
    @include sm() {
        width: 90%;
    }
    &__inner {
        height: 100%;
    }
    &__text {
        text-align: center;
        color: $font-color_success;
    }
}