.c-flash-message {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 150px;
    z-index: 2;
    box-shadow: 0 0 30px 0 $shadow-color_flash-message;
    background: $background-color_light-opacity;
    border-radius: $border-radius_m;
	-webkit-border-radius: $border-radius_m;
    -moz-border-radius: $border-radius_m;
    &__text {
        line-height: 150px;
        text-align: center;
        color: $font-color_success;
    }
}