// ==============================
// フォームコンポーネント
// ==============================
.c-form {
    width: 100%;
    padding: $space_7l;
    background: $background-color_light;
    box-sizing: border-box;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    @include sm() {
        padding: $space_7l $space_l;
    }
    @include tab() {
        padding: $space_7l $space_xl;
    }
    &__group {
        margin: $space_3l 0;
    }
    &__label {
        font-size: $font-size_l;
        font-weight: bold;
        @include sm() {
            font-size: $font-size_m;
            display: inline-block;
            margin-bottom: $space_m;
        }
    }
    &__icn--send {
        color: $icn-color_success;
    }
    &__icn--select {
        position: relative; 
        &:before {
            position: absolute;
            content: ""; 
            top: 50%; 
            right: 10px;
            width:0px; 
            height:0px; 
            margin: -2px 0 0 0; 
            border: 10px solid transparent;
            border-top: 10px solid $border-color_dark;
            pointer-events: none; 
            z-index: 1;
        }
    }
    &__require {
        padding: $space_s;
        margin-left: $space_m;
        color: $font-color_light;
        font-size: $font-size_s;
        background: $background-color_form-require;
        vertical-align: top;
    }
    &__option {
        padding: $space_s;
        margin-left: $space_m;
        color: $font-color_light;
        font-size: $font-size_s;
        background: $background-color_form-option;
        vertical-align: top;
    }
}