// ==============================
// フォームコンポーネント
// ==============================
.c-form {
    width: 100%;
    padding: $space_7l;
    background: $background-color_light;
    box-sizing: border-box;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    @include sm() {
        padding: $space_7l $space_l;
    }
    @include tab() {
        padding: $space_7l $space_xl;
    }
    &__group {
        margin: $space_3l 0;
    }
    &__label {
        font-size: $font-size_l;
        font-weight: bold;
        @include sm() {
            font-size: $font-size_m;
            display: inline-block;
            margin-bottom: $space_m;
        }
    }
    &__icn--send {
        color: $icn-color_success;
    }
    &__icn--select {
        position: relative; 
        &:before {
            position: absolute;
            content: ""; 
            top: 50%; 
            right: 10px;
            width:0px; 
            height:0px; 
            margin: -2px 0 0 0; 
            border: 10px solid transparent;
            border-top: 10px solid $border-color_dark;
            pointer-events: none; 
            z-index: 1;
        }
    }
    &__require {
        padding: $space_s;
        margin-left: $space_m;
        color: $font-color_light;
        font-size: $font-size_s;
        background: $background-color_form-require;
        vertical-align: top;
    }
    &__option {
        padding: $space_s;
        margin-left: $space_m;
        color: $font-color_light;
        font-size: $font-size_s;
        background: $background-color_form-option;
        vertical-align: top;
    }
}
// ==============================
// input（おもにtext）
// ==============================
.c-input {
    height: 50px;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--full {
        width: 100%;
    }
    &--err  {
        border: 1px solid $font-color_err;
        background: $background-color_err;
    }
}
// ==============================
// チェックボックス
// ==============================
.c-checkbox {
    width: 15px;
    height: 15px;
}
// ==============================
// テキストエリア
// ==============================
.c-textarea {
    height: 80px;
    resize: none;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--low {
        height: 150px;
    }
    &--high {
        height: 500px;
    }
    &--full {
        width: 100%;
    }
}
// ==============================
// セレクトボックス
// ==============================
.c-select {
    position: relative;
    height: 50px;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--half-pc {
        width: 50%;
    }
    &--full-pc {
        width: 100%;
    }
    &--full-sm {
        @include sm() {
            width: 100%;
        }
    }
}
// ==============================
// ファイルアップロード（ドラッグ&ドロップ）
// ==============================
.c-file-upload {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border: $border-m dashed $border-color_base; 
    background-color: $background-color_form-item;
    font-size: $font-size_s;
    &--active {
        border: none;
        background-color: $background-color_light;
    }
    &__img {
        width: auto;
        height: 100%;
    }
    &__droparea {
        &--active {
            opacity: 0;
        }
    }
    &__input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
    }
    &__btn {
        display: inline-block;
        padding: $space_s;
        margin-top: $space_s;
        color: $font-color_light;
        background: $background-color_base;
    }
}