.c-form {
    width: 100%;
    background: $background-color_light;
    box-sizing: border-box;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &__group {
        margin: $space_3l 0;
    }
    &__icn--send {
        color: $icn-color_success;
    }
}

.c-input {
    height: 50px;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--full {
        width: 100%;
    }
    &--err {
        border: 1px solid $font-color_err;
        background: $background-color_err;
    }
}

.c-checkbox {
    width: 15px;
    height: 15px;
}
.c-textarea {
    height: 80px;
    resize: none;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--high {
        height: 150px;
    }
    &--full {
        width: 100%;
    }
    // &--err {
    //     border: 1px solid $font-color_err;
    //     background: $background-color_err;
    // }
}

.c-select {
    height: 50px;
    background: $background-color_form-item;
    border: none;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_default;
    border-radius: $border-radius_s;
	-webkit-border-radius: $border-radius_s;
    -moz-border-radius: $border-radius_s;
    &--half {
        width: 50%;
    }
    &--full {
        width: 100%;
    }
}

.c-file-upload {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 70%;
    height: 200px;
    box-sizing: border-box;
    border: $border-m dashed $border-color_base; 
    background-color: $background-color_form-item;
    &--done {
        border: none;
        background-color: $background-color_light;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
    }
    &__btn {
        display: inline-block;
        padding: $space_s;
        margin-top: $space_s;
        color: $font-color_light;
        background: $background-color_base;
    }
}