// ==============================
// STEPのパネルコンポーネント
// ==============================
.c-panel {
    display: block;
    position: relative;
    padding: $space_l;
    background: $background-color_light;
    margin-bottom: $space_xxl;
    box-sizing: border-box;
    border-radius: $border-radius_m;
	-webkit-border-radius: $border-radius_m;
    -moz-border-radius: $border-radius_m;
    &__category {
        position: absolute;
        text-align: center;
        color: $font-color_light;
        background: $background-color_category;
        left: -20px;
        &::before {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            border: none;
            border-bottom: solid 15px transparent;
            border-right: solid 20px $border-color_dark;
        }
    }
    &__title {
        color: $font-color_dark;
        font-family: $font-family_gothic;
        font-weight: bold;
        font-size: $font-size_l;
    }
}