.c-sidebar {
    width: 80%;
    margin-left: auto;
    @include sm() {
        width: 100%;
        margin-top: $space_3l;
    }
    &__group {
        margin-bottom: $space_3l;
    }
    &__head {
        text-align: center;
        width: 100%;
        height: 50px;
        //padding: $space_m;
        line-height: 50px;
        background-image: url('../img/title_border.png');
        box-sizing: border-box;
        margin-bottom: $space_m;
        //background: $gradation-color_sidebar;
        //color: ;
        //color: $font-color_light;
        font-weight: bold;
        //background: #799099;
        //border-top: 5px solid $background-color_base;
        //border-bottom: 5px solid $background-color_dark;
        // &:before, &:after {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     display: inline-block;
        //     width: 80px;
        //     height: 2px;
        //     border-top: solid 1px black;
        //     border-bottom: solid 1px black;
        // }
        // &:before {
        //     left:0;
        // }
        // &:after {
        //     right:0;
        // }
    }
    &__title {
        padding: 0 $space_m;
        font-size: $font-size_l;
        background: $background-color_main-light;
    }
    &__icn {
        margin-right: $space_m;
    }
    &__body {
        width: 100%;
        //background: $background-color_dark;
        padding: 0 $space_s $space_s $space_s;
        margin: 0 auto;

        box-sizing: border-box;

    }
    &__list-item {
        padding: $space_l $space_m;
        margin-bottom: $space_l;
        border-radius: 5px;
        border: $border_m dashed $background-color_base;
        background: $background-color_light;
        cursor: pointer;
        &--active {
             background: $background-color_active;
        }
    }
    &__list-item:hover {
        opacity: 0.7;
    }

    &__btn {
        &--full {
            width: 100%;
            font-size: $font-size_l;
            padding: $space_m;
        }
        &--small {
            width: 100px;
            padding: $space_s;
            font-size: $font-size_default;
        }
    }
    &__img-container {
        text-align: center;
        margin-bottom: $space_m;
    }
    &__prof-img {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }
    &__prof-name {
        text-align: center;
        font-size: $font-size_l;
        margin-bottom: $space_m;
    }
    &__prof-intro {
        background: $background-color_light;
        min-height: 100px;
        border-radius: $border-radius_s;
        -webkit-border-radius: $border-radius_s;
        -moz-border-radius: $border-radius_s;
        padding: $space_m;
        font-size: $font-size_m;
        margin-bottom: $space_xl;
    }

}