.c-title {
    &--small {
        text-align: center;
        font-family: $font-family_gothic;
        font-size: $font-size_xl;
        font-weight: bold;
        @include sm() {
            font-size: $font-size_l;
        }
    }
    &--normal {
        text-align: center;
        font-family: $font-family_gothic;
        font-size: $font-size_3l;
        font-weight: bold;
        @include sm() {
            font-size: $font-size_xl;
        }
    }
    &--type01 {
        font-family: $font-family_gothic;
        font-weight: bold;
        font-size: $font-size_xxl;
        padding: $space_xl $space_xl;
        border-left: solid $border_xxl $border-color_base;
        @include sm() {
            font-size: $font-size_xl;
        }
    }
}