// ==============================
// ABOUT
// ==============================
.p-about {
    position: relative;
    z-index: 1;
    &__title {
        font-size: $font-size_xl;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_l;
        }
    }
    &__text {
        margin-top: $space_3l;
        font-size: $font-size_default;
    }
    &__img {
        width: 50%;
        position: absolute;
        top: 0;
        right: -60px;
        z-index: -1;
        @include sm() {
            top: -120px;
            right: 0;
        }
        @include tab() {
            width: 45%;
            top: -170px;
            right: 0;
        }
    }
}