// ==============================
// パンくずリスト
// ==============================
.p-breadcrumbs {
    padding: $space_m 0;
    position:relative;
    box-shadow: 0 3px 5px 0px $shadow-color_dark;
    @include sm() {
        padding-left: $space_m;
    }
    &__item::after {
        content: '>';
        padding: 0 $space_s;
    }&__item:last-child::after {
        content: '';
    }
    &__link:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}