.p-bread-crumbs {
    height: 40px;
    position:relative;
    box-shadow: 0 3px 5px 0px $shadow-color_dark;
    &__icn {
        margin: 0 $space_m;
    }
    &__link:hover {
        opacity: 0.7;
    }
}