// ==============================
// チャレンジ中のSTEP
// ==============================
.p-challenge-step {
    margin-bottom: $space_5l;
    &__panel {
        box-shadow: 0 2px 6px 1px $shadow-color_light;
        &:hover{
            opacity: 0.8;
        }
        &-container {
            padding: 0 $space_m;
            margin: $space_l 0;
            @include tab() {
                padding: 0 $space_s;
            }
        }
    }
    &__img {
        width: 100%;
        height: 214px;
        @include tab() {
            height: 137px;
        }
    }
    &__head {
        margin: $space_s 0;
    }
    &__body {
        padding: $space_s;
        font-size: $font-size_m;
        @include tab() {
            padding: $space_s 0;
            font-size: $font-size_s;
        }
    }
    &__progress {
        width: 100%;
        height: 30px;
        margin-top: $space_s;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        position: relative;
        background-image: linear-gradient(-45deg,$progressbar-color_back 25%,transparent 25%,transparent 50%, $progressbar-color_back 50%,$progressbar-color_back 75%,transparent 75%,transparent);
        background-image: -webkit-linear-gradient(-45deg,$progressbar-color_back 25%,transparent 25%,transparent 50%, $progressbar-color_back 50%,$progressbar-color_back 75%,transparent 75%,transparent);
        background-image: -moz-linear-gradient(-45deg,$progressbar-color_back 25%,transparent 25%,transparent 50%, $progressbar-color_back 50%,$progressbar-color_back 75%,transparent 75%,transparent);
        background-image: -ms-linear-gradient(-45deg,$progressbar-color_back 25%,transparent 25%,transparent 50%, $progressbar-color_back 50%,$progressbar-color_back 75%,transparent 75%,transparent);
        -webkit-background-size:7px 7px;
        -moz-background-size:7px 7px;
        -ms-background-size:7px 7px;
        background-size: 7px 7px;
        &--bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            background: $progressbar-color_front;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
        }
        &--percentage {
            position: absolute;
            top: 3px;
            right: 10px;
            color: $font-color_light;
            font-size: $font-size_s;
        }
    }
}