.p-child {
    background: $background-color_light;
    padding: $space_6l;
    &__outer {
        background: $background-color_light;
    }
    &__inner {
        width: 100%;
    }
    &__head {
        margin-bottom: $space_3l;
    }
    &__title {
        font-size: $font-size_xxl;
        text-align: center;
        line-height: 200%;
    }
    &__body {
        margin-bottom: $space_m;
    }
    &__outline {
        padding: $space_m;
        background: $background-color_main-dark;
        min-height: 70px;
        box-sizing: border-box;
        font-size: $font-size_m;
        margin-bottom: $space_m;
    }
    &__content {
        padding: $space_m;
        margin-top: $space_3l;
        background: $background-color_step-content;
        min-height: 120px;
        box-sizing: border-box;
    }
    &__criterion {
        width: 50%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: $background-color_main-light;
        border: 2px solid $border-color_dark;

        color: black;
        margin: $space_3l auto;
    }
    &__btn {
        width: 140px;
        padding: $space_l;
        margin-left: auto;
        font-size: $font-size_default;
    }
    &__foot {
        margin-top: $space_3l;
    }
    &__lead {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}