.p-dropdown {
    position: relative;
    &:hover &__menu {
        display: block;
    }
    &__menu {
        display: none;
        background: $background-color_light;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        // border: 1px solid $border-color_light;
        box-shadow: 0px 3px 5px $shadow-color_light;
        z-index: 1;
    }
    &__item {
        font-size: $font-size_m;
        &:hover {
            background: $background-color_active;
        }
    }
    &__link {
        padding: $space_m;
    }
}