// ==============================
// 404エラー画面
// ==============================
.p-error404 {
    padding-top: $space_5l;
    padding-bottom: $space_xl;
    background: $background-color_light;
    &__text {
        text-align: center;
        margin-top: $space_3l;
    }
    &__img {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        @include sm() {
            width: 40%;
            margin-top: $space_l;
        }
    }
}