// ==============================
// フッター
// ==============================
.p-footer {
    height: 190px;
    box-sizing: border-box;
    padding: $space_xl;
    text-align: center;
    &__logo {
        width: 200px;
        margin: $space_l auto;
    }
    &__share-message {
        font-size: $font-size_xl;
        font-weight: bold;
        margin-bottom: $space_m;
    }
    &__share-list {
        padding: 0 $space_l;
    }
}