// ==============================
// ヘッダー
// ==============================
.p-header {
    border-bottom: $border_l solid $border-color_base;
    @include sm() {
        padding: $space_m;
    }
    @include tab() {
        padding: 0 $space_l;
    }
    &__logo {
        width: 200px;
        @include sm() {
            width: 150px;
        }
        
    }
    &__nav {
        @include sm(){
            width: 250px;
            height: 100%;
            padding-top: 100px;
            background: $background-color_base;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            transform: translate(250px);
            transition: all .5s;
        }
        @include tab(){
            width: 250px;
            height: 100%;
            padding-top: 100px;
            background: $background-color_base;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            transform: translate(250px);
            transition: all .5s;
        }
    }
}