// ==============================
// ランディングページ
// ==============================
.p-lp {
    font-size: $font-size_l;
    @include sm() {
        font-size: $font-size_m;
    }
    &__head {
        padding-left: $space_3l;
        @include sm() {
            padding: 0 $space_m;
        }
    }
    &__title {
        color: $font-color_dark;
        font-size: $font-size_3l;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_xxl;
            padding-left: 0;
        }
        &--en {
            font-size: $font-size_default;
            font-family: $font-family_gothic;
            font-weight: bold;
            color: $background-color_base;
        }
    }
    &__inner {
        margin-top: $space_3l;
        padding-left: $space_5l;
        @include sm() {
            margin-top: $space_xl;
            padding-left: 0;
        }
    }
    &__text {
        line-height: 170%;
        margin-bottom: $space_5l;
        @include sm() {
            margin-bottom: $space_3l;
        }
    }
    &__btn {
        padding: $space_xl;
        margin-top: $space_l;
        margin-bottom: $space_l;
    }
}