// ==============================
// ランディングページ
// ==============================
.p-lp {
    font-size: $font-size_l;
    @include sm() {
        font-size: $font-size_m;
    }
    &__head {
        padding-left: $space_3l;
        @include sm() {
            padding: 0 $space_m;
            // text-align: center;
        }
    }
    &__title {
        color: $font-color_dark;
        font-size: $font-size_3l;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_xxl;
            padding-left: 0;
        }
        &--en {
            font-size: $font-size_default;
            font-family: $font-family_gothic;
            font-weight: bold;
            color: $background-color_base;
        }
    }
    &__inner {
        margin-top: $space_3l;
        padding-left: $space_5l;
        @include sm() {
            margin-top: $space_xl;
            padding-left: 0;
        }
    }
    &__text {
        line-height: 170%;
        margin-bottom: $space_5l;
        @include sm() {
            margin-bottom: $space_3l;
        }
    }
    &__btn {
        padding: $space_xl;
        margin-top: $space_l;
        margin-bottom: $space_l;
    }
}

.p-baner {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../img/baner.jpg');
    background-size: cover;
    background-attachment: fixed;
    @include sm() {
        height: 230px;
        background-attachment: unset;
    }
    &__phrase {
        width: 100%;
        text-align: center;
        color: $font-color_light;
        font-size: $font-size_4l;
        font-family: $font-family_gothic;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        @include sm() {
            font-size: $font-size_xl;
        }
    }
}

.p-about {
    position: relative;
    padding-bottom: $space_5l 0;
    z-index: 1;
    // border-bottom: $border_s solid $border-color_light;
    &__title {
        font-size: $font-size_xl;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_l;
        }
    }
    &__text {
        margin-top: $space_3l;
        font-size: $font-size_default;
    }
    &__img {
        position: absolute;
        right: -60px;
        top: -55px;
        z-index: -1;
        @include sm() {
            width: 50%;
            top: -120px;
            right: 0;
        }
    }
}

.p-wall {
    &__list-item {
        margin-top: $space_3l;
        position: relative;
        // background: $background-color_light;
        padding: $space_xxl $space_xl;
        @include sm() {
            margin-top: $space_xl;
            padding: $space_xxl 0;
        }
    }
    &__list-num {
        color: $font-color_base;
        font-size: 110px;
        width: 10%;
        font-style: italic;
        text-align: center;
        position: relative;
        top: 20px;
        @include sm() {
            font-size: 56px;
            top: 14px;
        }
    }
    &__textarea {
        margin-left: $space_l;
    }
    &__title {
        font-size: $font-size_3l;
        margin-bottom: $space_xxl;
        color: $font-color_base;
        font-family: $font-family_gothic;
        font-weight: 600;
        @include sm() {
            font-size: $font-size_xxl;
            line-height: 150%;
            margin-bottom: $space_l;
        }
    }
    &__descript {
        padding-right: $space_xxl;
        line-height: 160%;
    }
}

.p-feature {
    &__title {
        color: $font-color_light;
        background: $background-color_base;
        text-align: center;
        font-size: $font-size_xxl;
        padding: $space_4l 0;
        line-height: 150%;
        @include sm() {
            padding: $space_3l 0;
            font-size: $font-size_l;
        }
    }
    &__list {
        margin: $space_7l 0;
        @include sm() {
            margin: $space_3l 0;
        }
    }
    &__list-item {
        padding: 0 $space_l;
        &:first-child .p-feature__inner {
            background-image: url('../img/studyperson.jpg');
        }
        &:last-child .p-feature__inner {
            background-image: url('../img/game.jpg');
        }
        @include sm() {
            margin-bottom: $space_xxl;
        }
    }
    &__inner {
        position: relative;
        width: 100%;
        padding-top: 66.7%;
        background-size: cover;
        background-image: url('../img/hint.jpg');
        &:before {
            content: '';
            background: $background-color_light;
            opacity: 0.8;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__content {
        position: absolute;
        width: 70%;
        padding: $space_xl $space_l;
        border-top: $border_m solid $border-color_base;
        border-bottom: $border_m solid $border-color_base;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
    }
    &__text {
        margin-top: $space_m;
        font-size: $font-size_m;
    }
}
.p-browse {
    &__title {
        font-size: $font-size_xxl;
        font-family: $font-family_gothic;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin: $space_5l 0;
        @include sm() {
            margin: $space_xxl 0;
            font-size: $font-size_default;
        }
        & span {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin: 0 2.5em;
            padding: 0 1em;
            background-color: $background-color_main-light;
            text-align: left;
        }
        &:before {
            position: absolute;
            top: 50%;
            z-index: 1;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $background-color_base;
        }
        // &:before, &:after {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     display: inline-block;
        //     width: 33%;
        //     height: 3px;
        //     background-color: $background-color_base;
        //   }
          
        //   &:before {
        //     left:0;
        //   }
        //   &:after {
        //     right: 0;
        //   }
    }
}

// .p-lp { 
//     font-size: $font-size_l;
//     &__title {
//         font-size: $font-size_3l;
//         text-align: center;
//         line-height: 200%;
//         margin-bottom: $space_5l;
//         font-family: $font-family_gothic;
//         font-weight: 600;
//         @include sm() {
//             font-size: $font-size_xl;
//         }
//     }
//     &__btn {
//         padding: $space_xl;
//         margin: $space_l auto;
//     }
// }

// .p-baner {
//     position: relative;
//     width: 100%;
//     height: 600px;
//     background-image: url('../img/baner.jpg');
//     background-size: cover;
//     background-attachment: fixed;
//     @include sm() {
//         height: 230px;
//         background-attachment: unset;
//     }
//     &__phrase {
//         width: 100%;
//         text-align: center;
//         color: $font-color_light;
//         font-size: $font-size_4l;
//         font-family: $font-family_gothic;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         -webkit-transform: translate(-50%,-50%);
//         -moz-transform: translate(-50%,-50%);
//         -ms-transform: translate(-50%,-50%);
//         -o-transform: translate(-50%,-50%);
//         transform: translate(-50%,-50%);
//         @include sm() {
//             font-size: $font-size_xl;
//         }
//     }
// }

// .p-trouble {
//     &__head {
//         margin-bottom: $space_3l;
//         @include sm() {
//             padding: 0 $space_m;
//         }
//     }
//     &__img {
//         padding-right: $space_5l;
//         @include sm() {
//             padding-right: 0;
//             margin-bottom: $space_xxl;
//         }
//     }
//     &__list {
//         margin: $space_xl 0;
//     }
//     &__body {
//         font-size: $font-size_xxl;
//         line-height: 200%;
//         text-align: center;
//         margin-bottom: $space_3l;
//         @include sm() {
//             font-size: $font-size_l;
//         }
//     }
// }
// .p-intro {
//     &__body {
//         padding: 0 $space_4l;
//         @include sm() {
//             padding: 0;
//         }
//     }
//     &__text {
//         margin-bottom: $space_3l;
//     }
// }
// .p-merit {
//     &__body {
//         padding: 0 $space_7l;
//         @include sm() {
//             padding: 0 $space_m;
//         }
//     }
//     &__list {
//         margin-bottom: $space_xxl;
//     }
//     &__text {
//         position: relative;
//         padding-left: $space_4l;
//     }
//     &__icn {
//         position: absolute;
//         top: -8px;
//         left: 0;
//         margin-right: $space_m;
//         color: $palette-green;
//     }
//     &__img {
//         margin-top: $space_l;
//     }
// }
// .p-browse {
//     &__head {
//         text-align: center;
//         margin-bottom: $space_3l;
//     }
// }