// ==============================
// ランディングページ
// ==============================
.p-lp { 
    &__title {
        font-size: $font-size_3l;
        text-align: center;
        line-height: 200%;
        margin-bottom: $space_5l;
        @include sm() {
            font-size: $font-size_xl;
        }
    }
    &__btn {
        padding: $space_xl;
        margin: $space_l auto;
        // @include sm() {
        //     min-width: 100%;
        // }
    }
}

.p-baner {
    position: relative;
    width: 100%;
    padding-top: 66.7%;
    background-image: url('../img/baner.jpg');
    background-size: cover;

    &__phrase {
        width: 100%;
        text-align: center;
        color: $font-color_light;
        font-size: $font-size_4l;
        font-family: $font-family_gothic;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        @include sm() {
            font-size: $font-size_xl;
        }
    }
}

.p-trouble {
    &__head {
        margin-bottom: $space_3l;
    }
    &__img {
        padding-right: $space_5l;
        @include sm() {
            padding-right: 0;
        }
    }
    &__list {
        margin: $space_xl 0;
    }
    &__body {
        font-size: $font-size_xxl;
        line-height: 200%;
        text-align: center;
        margin-bottom: $space_3l;
        @include sm() {
            font-size: $font-size_l;
        }
    }
}
.p-intro {
    &__body {
        padding: 0 $space_4l;
        @include sm() {
            padding: 0;
        }
    }
    &__text {
        margin-bottom: $space_xl;
    }
}
.p-merit {
    &__body {
        padding: 0 $space_7l;
        @include sm() {
            padding: 0;
        }
    }
    &__list {
        margin-bottom: $space_xxl;
    }
    &__icn {
        position: relative;
        top: 8px;
        left: 0;
        margin-right: $space_m;
        color: $palette-green;
    }
    &__img {
        margin-top: $space_l;
    }
}
.p-browse {
    &__head {
        text-align: center;
        margin-bottom: $space_3l;
    }
}