// ==============================
// ランディングページ
// ==============================
.p-lp {
    font-size: $font-size_l;
    @include sm() {
        font-size: $font-size_m;
    }
    &__head {
        padding-left: $space_3l;
        @include sm() {
            padding: 0 $space_m;
        }
    }
    &__title {
        color: $font-color_dark;
        font-size: $font-size_3l;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_xxl;
            padding-left: 0;
        }
        &--en {
            font-size: $font-size_default;
            font-family: $font-family_gothic;
            font-weight: bold;
            color: $background-color_base;
        }
    }
    &__inner {
        margin-top: $space_3l;
        padding-left: $space_5l;
        @include sm() {
            margin-top: $space_xl;
            padding-left: 0;
        }
    }
    &__text {
        line-height: 170%;
        margin-bottom: $space_5l;
        @include sm() {
            margin-bottom: $space_3l;
        }
    }
    &__btn {
        padding: $space_xl;
        margin-top: $space_l;
        margin-bottom: $space_l;
    }
}

// ==============================
// バナー
// ==============================
.p-baner {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../img/baner.jpg');
    background-size: cover;
    background-attachment: fixed;
    @include sm() {
        height: 230px;
        background-attachment: unset;
    }
    @include tab() {
        height: 430px;
        background-attachment: unset;
    }
    &__phrase {
        width: 100%;
        text-align: center;
        color: $font-color_light;
        font-size: $font-size_4l;
        font-family: $font-family_gothic;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        @include sm() {
            font-size: $font-size_xl;
        }
        @include tab() {
            font-size: $font-size_3l;
        }
    }
}


// ==============================
// ABOUT
// ==============================
.p-about {
    position: relative;
    padding-bottom: $space_5l 0;
    z-index: 1;
    // border-bottom: $border_s solid $border-color_light;
    &__title {
        font-size: $font-size_xl;
        font-family: $font-family_gothic;
        font-weight: 600;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_l;
        }
    }
    &__text {
        margin-top: $space_3l;
        font-size: $font-size_default;
    }
    &__img {
        position: absolute;
        right: -60px;
        top: -55px;
        z-index: -1;
        @include sm() {
            width: 50%;
            top: -120px;
            right: 0;
        }
        @include tab() {
            width: 45%;
            top: -170px;
            right: 0;
        }
    }
}


// ==============================
// CHALLENGE
// ==============================
.p-wall {
    &__list-item {
        margin-top: $space_xl;
        position: relative;
        padding: $space_xxl $space_xl;
        @include sm() {
            margin-top: $space_xl;
            padding: $space_xxl 0;
        }
        @include tab() {
            margin-top: $space_xl;
            padding: $space_xxl 0;
        }
    }
    &__list-num {
        color: $font-color_base;
        font-size: 110px;
        width: 10%;
        font-style: italic;
        text-align: center;
        position: relative;
        top: 34px;
        @include sm() {
            font-size: 56px;
            top: 14px;
        }
    }
    &__textarea {
        margin-left: $space_l;
        @include tab() {
            margin-left: $space_xl;
        }
    }
    &__title {
        font-size: $font-size_3l;
        margin-bottom: $space_xl;
        color: $font-color_base;
        font-family: $font-family_gothic;
        font-weight: bold;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_xxl;
            line-height: 150%;
            margin-bottom: $space_l;
        }
    }
    &__descript {
        padding-right: $space_xxl;
        line-height: 160%;
    }
}


// ==============================
// FEATURE
// ==============================
.p-feature {
    &__title {
        color: $font-color_light;
        background: $background-color_base;
        text-align: center;
        font-size: $font-size_xxl;
        padding: $space_4l 0;
        line-height: 150%;
        @include sm() {
            padding: $space_3l 0;
            font-size: $font-size_l;
        }
    }
    &__list {
        margin: $space_7l 0;
        @include sm() {
            margin: $space_3l 0;
        }
    }
    &__list-item {
        min-height: 400px;
        padding: 0 $space_l;
        &:first-child .p-feature__inner {
            background-image: url('../img/studyperson.jpg');
        }
        &:last-child .p-feature__inner {
            background-image: url('../img/game.jpg');
        }
        @include sm() {
            min-height: 0;
            margin-bottom: $space_3l;
        }
    }
    &__inner {
        position: relative;
        width: 100%;
        padding-top: 66.7%;
        background-size: cover;
        background-image: url('../img/hint.jpg');
        &:before {
            content: '';
            background: $background-color_light;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__content {
        position: absolute;
        width: 70%;
        padding: $space_xl $space_l;
        border-top: $border_m solid $border-color_base;
        border-bottom: $border_m solid $border-color_base;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
    }
    &__text {
        margin-top: $space_m;
        font-size: $font-size_m;
    }
}


// ==============================
// VIEW
// ==============================
.p-browse {
    &__title {
        font-size: $font-size_xxl;
        font-family: $font-family_gothic;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin: $space_5l 0;
        @include sm() {
            margin: $space_xxl 0;
            font-size: $font-size_default;
        }
        & span {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin: 0 2.5em;
            padding: 0 1em;
            background-color: $background-color_main-light;
            text-align: left;
        }
        &:before {
            position: absolute;
            top: 50%;
            z-index: 1;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $background-color_base;
        }
    }
}