// ==============================
// 登録したSTEP
// ==============================
.p-registed-step {
    &__list {
        overflow: hidden;
        border-radius: $border-radius_m; 
    }
    &__panel {
        padding: $space_l $space_xl;
        border-radius: 0px;
        margin-bottom: 0;
        border-bottom: $border_s solid $border-color_light;
        &:last-child {
            border: none;
        }
    }
    &__title {
        font-size: $font-size_xl;
        margin-left: $space_l;
        @include sm() {
            font-size: $font-size_l;
            margin-top: $space_l;
            margin-bottom: $space_l;
        }
    }
    &__img {
        height: 100px;
        @include sm() {
            height: 200px;
        }
    }
    &__content {
        height: 100px;
        background: $background-color_step-content;
        padding: $space_m $space_l; 
        font-size: $font-size_m;
        box-sizing: border-box;
    }
    &__sum {
        text-align: right;
    }
    &__btn {
        @include tab() {
            margin-top: $space_l;
            width: 150px
        }
    }
}
// ==============================
// チャレンジ中のSTEP
// ==============================
.p-challenge-step {
    margin-bottom: $space_5l;
    &__panel {
        box-shadow: 0 2px 6px 1px $shadow-color_light;
        &:hover{
            opacity: 0.8;
        }
        &-container {
            padding: 0 $space_m;
            margin: $space_l 0;
            @include tab() {
                padding: 0 $space_s;
            }
        }
    }
    &__img {
        width: 100%;
        height: 214px;
        @include tab() {
            height: 137px;
        }
    }
    &__head {
        margin: $space_s 0;
    }
    &__body {
        padding: $space_s;
        font-size: $font-size_m;
        @include tab() {
            padding: $space_s 0;
            font-size: $font-size_s;
        }
    }
    &__progress {
        width: 100%;
        height: 30px;
        //background: ;
        margin-top: $space_s;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        position: relative;
        background-image: gradient(linear, 0 0, 100% 100%,color-stop(.25, $progressbar-color_back), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $progressbar-color_back),color-stop(.75, $progressbar-color_back), color-stop(.75, transparent),to(transparent));
        background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $progressbar-color_back), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $progressbar-color_back),color-stop(.75, $progressbar-color_back), color-stop(.75, transparent),to(transparent));
        background-image: -moz-gradient(linear, 0 0, 100% 100%,color-stop(.25, $progressbar-color_back), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $progressbar-color_back),color-stop(.75, $progressbar-color_back), color-stop(.75, transparent),to(transparent));
        background-image: -ms-gradient(linear, 0 0, 100% 100%,color-stop(.25, $progressbar-color_back), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $progressbar-color_back),color-stop(.75, $progressbar-color_back), color-stop(.75, transparent),to(transparent));
        -webkit-background-size:7px 7px;
        -moz-background-size:7px 7px;
        -ms-background-size:7px 7px;
        background-size: 7px 7px;
        &--bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            background: $progressbar-color_front;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
        }
        &--percentage {
            position: absolute;
            top: 3px;
            right: 10px;
            color: $font-color_light;
            font-size: $font-size_s;
        }
    }
}