.p-registed-step {
    &__panel {
        padding: $space_l $space_xl;
        border-radius: 0px;
        margin-bottom: 0;
        border-bottom: 1px solid $border-color_light;
        &:first-of-type {
            border-radius: $border-radius_m $border-radius_m 0 0; 
        }
        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 $border-radius_m $border-radius_m; 
        }
    }
    &__title {
        font-size: $font-size_xl;
        margin-left: $space_l;
        @include sm() {
            font-size: $font-size_l;
        }
    }
    &__img {
        height: 100px;
        @include sm() {
            height: 200px;
        }
    }
    &__content {
        // width: 65%;
        height: 100px;
        background: $background-color_step-content;
        padding: $space_m $space_l; 
        font-size: $font-size_m;
        box-sizing: border-box;
    }
    &__sum {
        text-align: right;
    }
    &__btn {
        width: 150px;
        padding: $space_m 0;
        // margin-top: $space_xl;
        margin-left: auto;
        @include sm() {
            width: 100px
        }
    }
}
.p-challenge-step {
    margin-bottom: $space_5l;
    &__panel {
        &:hover{
            opacity: 0.8;
        }
    }
    &__panel-container {
        padding: 0 $space_m;
    }
    &__img {
        width: 100%;
        height: 200px;
    }
    &__head {
        margin: $space_xl 0;
    }
    &__body {
        padding: $space_s;
        font-size: $font-size_m;
    }
    &__progress {
        width: 100%;
        height: 30px;
        //background: ;
        margin-top: $space_s;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        position: relative;
        background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $progressbar-color_back), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $progressbar-color_back),color-stop(.75, $progressbar-color_back), color-stop(.75, transparent),to(transparent));
        background-size: 7px 7px;
        // background-image: repeating-linear-gradient(45deg, transparent, transparent $space_s, $progressbar-color_back $space_s, $progressbar-color_back $space_m);
        &--bar {
            position: absolute;
            top: 0;
            left: 0;
            
            height: 30px;
            background: $progressbar-color_front;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
        }
        &--percentage {
            position: absolute;
            top: 3px;
            right: 10px;
            color: $font-color_light;
            font-size: $font-size_s;
        }
    }
}