// ==============================
// プロフィール編集
// ==============================
.p-prof-edit {
    &__btn {
        width: 200px;
        padding: $space_l 0;
        margin-top: $space_3l;
        margin-left: auto;
        font-size: $font-size_default;
    }
    &__help {
        font-size: $font-size_m;
        a:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}