.p-prof-edit {
    padding: $space_7l;
    @include sm() {
        padding: $space_3l $space_xxl;
    }
    &__label {
        font-size: $font-size_l;
        font-weight: bold;
        @include sm() {
            display: block;
            margin-bottom: $space_m;
        }
    }
    &__btn {
        width: 200px;
        padding: $space_l 0;
        margin-top: $space_3l;
        margin-left: auto;
        font-size: $font-size_default;
    }
    &__help {
        font-size: $font-size_m;
        a:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}