// ==============================
// 登録したSTEP
// ==============================
.p-registed-step {
    &__list {
        overflow: hidden;
        border-radius: $border-radius_m; 
    }
    &__panel {
        padding: $space_l $space_xl;
        border-radius: 0px;
        margin-bottom: 0;
        border-bottom: $border_s solid $border-color_light;
        &:last-child {
            border: none;
        }
    }
    &__title {
        font-size: $font-size_xl;
        padding-left: $space_l;
        word-wrap: break-word;
        @include sm() {
            font-size: $font-size_l;
            margin-top: $space_l;
            margin-bottom: $space_l;
        }
    }
    &__img {
        height: 100px;
        @include sm() {
            height: 200px;
        }
    }
    &__content {
        height: 100px;
        background: $background-color_step-content;
        padding: $space_m $space_l; 
        font-size: $font-size_m;
        box-sizing: border-box;
    }
    &__sum {
        text-align: right;
    }
    &__btn {
        width: 96%;
        @include tab() {
            margin-top: $space_l;
            // width: 150px
        }
        @include sm() {
            min-width: 96%;
        }
    }
}