// ==============================
// STEP登録
// ==============================
.p-regist-step {
    width: 100%;
    &__num {
        color: $font-color_light;
        background: $background-color_base;
        font-size: $font-size_xxl;
        padding: $space_xl $space_l;
        margin: $space_3l 0;
    }
}