// ==============================
// STEP登録
// ==============================
.p-regist-step {
    width: 100%;
    &__inner {
        width: 100%;
    }
    &__num {
        color: $font-color_light;
        background: $background-color_base;
        font-size: $font-size_xxl;
        padding: $space_xl $space_l;
        margin: $space_3l 0;
    }
    &__delete-icn {
        position: absolute;
        padding-right: $space_m;
        padding-left: $space_m;
        color: $font-color_light;
        top: 15px;
        right: 5px;
        cursor: pointer;
    }
}