// ==============================
// STEP一覧
// ==============================
.p-step-list {
    position: relative;
    &__panel {
        box-shadow: 0 2px 6px 1px $shadow-color_light;
        &-container {
            padding: 0 $space_l;
            margin: $space_l 0;
            @include tab() {
                padding: 0 $space_m;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        @include tab() {
            padding: $space_m;
        }
    }
    &__img {
        height: 214px;
        margin-bottom: $space_m;
        @include tab() {
            height: 137px;
        }
    }
    &__head {
        margin-bottom: $space_s;
        padding: 0 $space_s;
    
    }
    &__body {
        padding: 0 $space_s;
        font-size: $font-size_m;
        @include tab() {
            font-size: $font-size_s;
        }
    }
    &__category {
        width: 140px;
        height: 40px;
        line-height: 40px;
        top: -20px;
        z-index: 1;
    }
}