.p-step-detail {
    position: relative;
    margin-bottom: $space_3l;
    &__inner {
        width: 100%;
        padding: $space_5l $space_6l;
        background: $background-color_light;
        border-radius: $border-radius_s;
        -webkit-border-radius: $border-radius_s;
        -moz-border-radius: $border-radius_s;
        box-sizing: border-box;
        @include sm() {
            padding: $space_3l $space_m;
        }
    }
    &__category {
        width: 180px;
        height: 50px;
        top: -25px;
        letter-spacing: 3px;
        line-height: 50px;
    }
    &__head {
        margin: $space_xxl 0;
    }
    &__title {
        line-height: 150%;
    }
    &__img { 
        width: 100%;
        margin-bottom: $space_l;
    } 
    &__body { 
        width: 100%;
        min-height: 90px;
        padding: $space_m;
        margin: $space_m 0;
        background: $background-color_step-content;
        box-sizing: border-box;
        border-radius: $border-radius_s;
        -webkit-border-radius: $border-radius_s;
        -moz-border-radius: $border-radius_s;
        & a {
            word-break: break-all;
            color: $font-color_link;
            &:hover {
                opacity: 0.8;
                text-decoration: underline;
            }
        }
    } 
}