.p-step-list {
    position: relative;
    &__panel-container {
        padding: 0 $space_l;
        margin: $space_l 0;
    }
    &__panel:hover {
        opacity: 0.8;
    }
    &__img {
        height: 214px;
        margin-bottom: $space_m;
    }
    &__head {
        margin-bottom: $space_s;
        padding: 0 $space_s;
        min-height: 53px;
    }
    &__body {
        padding: 0 $space_s;
        font-size: $font-size_m;
    }
    &__category {
        width: 140px;
        height: 40px;
        line-height: 40px;
        top: -20px;
        z-index: 1;
    }
}