// ==============================
// CHALLENGE
// ==============================
.p-wall {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    background: $background-color_light;
    &__list-item {
        margin-top: $space_xl;
        position: relative;
        padding: $space_xxl $space_xl;
        @include sm() {
            margin-top: $space_xl;
            padding: $space_xxl 0;
        }
        @include tab() {
            margin-top: $space_xl;
            padding: $space_xxl 0;
        }
    }
    &__list-num {
        color: $font-color_base;
        font-size: 110px;
        width: 10%;
        font-style: italic;
        text-align: center;
        position: relative;
        top: 34px;
        @include sm() {
            font-size: 56px;
            top: 14px;
        }
    }
    &__textarea {
        margin-left: $space_l;
        @include tab() {
            margin-left: $space_xl;
        }
    }
    &__title {
        font-size: $font-size_3l;
        margin-bottom: $space_xl;
        color: $font-color_base;
        font-family: $font-family_gothic;
        font-weight: bold;
        line-height: 150%;
        @include sm() {
            font-size: $font-size_xxl;
            line-height: 150%;
            margin-bottom: $space_l;
        }
    }
    &__descript {
        padding-right: $space_xxl;
        line-height: 160%;
    }
}