<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>親ステップタイトル | あなたの人生のSTEPを共有しよう</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="fontawesome-free-5.11.2-web/js/all.min.js"></script>
</head>
<body>
    <!-- ヘッダー -->
    <header class="l-header">
        <div class="p-header">
            <div class="l-site-width">
                <div class="l-row l-row--between l-align-center">
                    <div class="p-header__logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <nav class="p-header__nav">
                        <ul class="p-nav l-row">
                            <li class="p-nav__item"><a href="#" class="p-nav__link">STEP一覧</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">ログイン</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">新規会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- パンくずリスト -->
    <div class="l-bread-crumbs">
        <div class="p-bread-crumbs l-row l-row--middle">
            <ul class="l-site-width l-row p-bread-crumbs__list">
                <li><a href="" class="p-bread-crumbs__link">ホーム</a><i class="fas fa-angle-right p-bread-crumbs__icn"></i></li>
                <li>マイページ</li>
            </ul>
        </div>
    </div>
    <!-- メインコンテンツ -->
    <div class="l-container u-bg-light">
        <div class="l-row l-site-width">
            <!-- メインカラム -->
            <div class="l-row__col12 l-row__col08-pc">
                <section class="p-parent">
                    <div class="c-panel__category p-parent__category">カテゴリー</div>
                    <div class="p-parent__outer">
                        <div class="p-parent__inner">
                            <div class="p-parent__head">
                                <h1 class="p-parent__title">「親ステップタイトル」</h1>
                            </div>
                            
                            <figure class="p-parent__img">
                                <img src="img/promon_img.png" alt="">
                            </figure>
                            <div class="p-parent__sharebtn">
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false" data-lang="ja">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div class="p-parent__body">
                                <div class="p-parent__textarea">
                                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                </div>
                            </div>
                            
                            <div class="p-parent__foot">
                                <p class="p-parent__time">終了目安：1時間</p>
                            </div>
                            <button class="c-btn c-btn--warning p-parent__btn p-parent__btn">チャレンジする</button>
                        </div>
                    </div>
                    <h2 class="u-fontsize--xl">学習順序</h2>
                    <div class="p-child-index">
                        <div class="l-row l-row--stretch p-child-index__item">
                            <div class="l-row l-row--middle l-row__col02-pc p-child-index__left-container">
                                <p class="p-child-index__num u-mt-l u-mb-l">
                                    STEP<br>
                                    <span class="u-fontsize--xl">1</span>
                                </p>
                            </div>
                            <div class="l-row l-row--middle l-row__col10-pc p-child-index__right-container">
                                <h3 class="p-child-index__title">子ステップタイトル</h3>
                            </div>
                        </div>
                        <div class="p-child-index__triangle"></div>
                        <div class="l-row l-row--stretch p-child-index__item">
                            <div class="l-row l-row--middle l-row__col02-pc p-child-index__left-container">
                                <p class="p-child-index__num u-mt-l u-mb-l">
                                    STEP<br>
                                    <span class="u-fontsize--xl">1</span>
                                </p>
                            </div>
                            <div class="l-row l-row--middle l-row__col10-pc p-child-index__right-container">
                                <h3 class="p-child-index__title">子ステップタイトル</h3>
                            </div>
                        </div>
                    </div>
                    <button class="c-btn c-btn--warning p-parent__btn p-parent__btn u-mt-5l">チャレンジする</button>
                </section>
            </div>
            <!-- サブカラム（サイドバー） -->
            <div class="l-row__col12 l-row__col04-pc">
                <div class=" c-sidebar">
                    <div class="c-sidebar__group">
                        <a href="" class="c-btn c-btn--warning c-sidebar__btn--full">STEPを作る</a>
                    </div>
                    <div class="c-sidebar__group">
                        <h2 class="c-sidebar__head"><span class="c-sidebar__title"><i class="fas fa-user-alt c-sidebar__icn"></i>このSTEPを作った人</span></h2>
                        <div class="c-sidebar__body">
                            <div class="c-sidebar__img-container">
                                <img class="c-sidebar__prof-img" src="img/no-img.jpg" alt="">
                            </div>
                            <h3 class="c-sidebar__prof-name">なおちん</h3>
                            <div class="c-sidebar__prof-intro">
                                テキスト
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- フッター -->
    <footer class="l-footer">
        <div class="p-footer">
            <a href="" class="p-footer__pageTop"><i class="fas fa-angle-double-up"></i></a>
            <div class="p-footer__logo">
                <img src="img/logo.png" alt="">
            </div>
            <small class="p-footer__copyright">Copyright ©︎ STEP All Rights Reserved.</small>
        </div>
    </footer>
</body>
</html>
