<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STEP一覧 | STEP</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="fontawesome-free-5.11.2-web/js/all.min.js"></script>
</head>
<body>
    <!-- ヘッダー -->
    <header class="l-header">
        <div class="p-header">
            <div class="l-site-width">
                <div class="l-row l-row--between l-row--middle">
                    <div class="p-header__logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <nav class="p-header__nav">
                        <ul class="p-nav l-row">
                            <li class="p-nav__item"><a href="#" class="p-nav__link">STEP一覧</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">ログイン</a></li>
                            <li class="p-nav__item"><a href="" class="p-nav__link">新規会員登録</a></li>
                            <li class="p-nav__item">
                                <a href="" class="p-nav__link">
                                    <div class="p-nav__img">
                                        <img src="img/no-img.jpg" alt="">
                                    </div>
                                    <p class="p-nav__name">なおちん</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- パンくずリスト -->
    <div class="l-bread-crumbs">
        <div class="p-bread-crumbs l-row  l-row--center">
            <ul class="l-site-width l-row p-bread-crumbs__list">
                <li>ホーム<i class="fas fa-angle-right p-bread-crumbs__icn"></i></li>
                <li>STEP一覧</li>
            </ul>
        </div>
    </div>
    <!-- メインコンテンツ -->
    <div class="l-container u-bg-light">
        <div class="l-row l-site-width">
            <!-- メインカラム -->
            <div class="l-row__col12 l-row__col08-pc">
                    <h1 class="c-title--normal u-mb-5l">STEP一覧</h1>
                    <div class="l-row  p-step-list">
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <a class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </a>
                        </div>
                        <div class="l-row__col12 l-row__col06-pc p-step-list__panel-container">
                            <div class="c-panel p-step-list__panel">
                                <div class="c-panel__category p-step-list__category">カテゴリー</div>
                                <div class="c-panel__img p-step-list__img">
                                    <img src="img/trouble_person.jpg" alt="">
                                </div>
                                <div class="l-row l-row--between p-step-list__head">
                                    <h3 class="c-panel__title p-step-list__title">親STEPタイトル</h3>
                                </div>
                                <div class="l-row l-row--between l-row--center p-step-list__body">
                                    <p class="p-step-list__time">終了目安：1時間</p>
                                    <p class="p-step-list__sum">全10STEP</p>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <!-- サブカラム（サイドバー） -->
            <div class="l-row__col12 l-row__col04-pc">
                <div class="c-sidebar">
                        <div class="c-sidebar__group">
                            <a href="" class="c-btn c-btn--warning c-sidebar__btn--full">STEPを作る</a>
                        </div>
                        <div class="c-sidebar__group">
                            <h2 class="c-sidebar__head"><span class="c-sidebar__title"><i class="fas fa-search c-sidebar__icn"></i>探す</span></h2>
                            <div class="c-sidebar__body">
                                    <div class="c-sidebar__search">

                                    </div>
                                    <input type="text" class="c-input-full">
                                    <button class="">検索</button>
                            </div>
                        </div>
    
                        <div class="c-sidebar__group"> 
                            <h2 class="c-sidebar__head"><span class="c-sidebar__title"><i class="fas fa-list c-sidebar__icn"></i>カテゴリー</span></h2>
                            <div class="c-sidebar__body">
                                <ul class="c-sidebar__list">
                                    <li class="c-sidebar__list-item c-sidebar__list-item--active">
                                        すべて
                                    </li>
                                    <li class="c-sidebar__list-item">
                                        プログラミング
                                    </li>
                                    <li class="c-sidebar__list-item">
                                        英語
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-sidebar__group"> 
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                

                </div>
            </div>
        </div>
    </div>
    <!-- フッター -->
    <footer class="l-footer">
        <div class="p-footer">
            <div class="p-footer__share-message">＼シェアする／</div>
            <ul class="l-flex l-justify-center p-footer__share-btns">
                <li class="p-footer__share-list"><a href="" class="c-btn c-btn__share c-btn__share--circle c-btn__twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="p-footer__share-list"><a href="" class="c-btn c-btn__share c-btn__share--circle c-btn__twitter"><i class="fab fa-twitter"></i></a></li>
            </ul>
            <!-- <i href="" class="p-footer__pageTop"><i class="fas fa-angle-double-up"></i></a> -->
            <div class="p-footer__logo">
                <img src="img/logo.png" alt="">
            </div>
            <small class="p-footer__copyright">Copyright ©︎ STEP All Rights Reserved.</small>
            <a href="" class="c-btn c-btn-center c-btn__twitter c-btn__twitter--circle u-mt-m"></a>
        </div>
    </footer>
</body>
</html>
