.l-app {
    transition: all .4s;
}

// ==============================
// ヘッダー
// ==============================
.l-header {
    width: 100%;
    height: 70px;
}

.l-bread-crumbs {
    width: 100%;
}

// ==============================
// コンテンツ幅
// ==============================
.l-site-width {
    width: 87%;
    @include sm() {
        width: 100%;
    }
    @include tab() {
        width: 100%;
    }
    margin: 0 auto;
}

// ==============================
// コンテナー
// ==============================
.l-container {
    width: 100%;
    padding: $space_7l $space_xl;
    box-sizing: border-box;
    @include sm() {
        width: 100%;
        padding: $space_7l $space_m;
    }
    @include tab() {
        width: 100%;
        padding: $space_7l $space_l;
    }
}

// ==============================
// フッター
// ==============================
.l-footer {
    width: 100%;
}

// ==============================
// レイアウト
// ==============================
.l-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    &--center {
        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }
    &--between {
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    &--middle {
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }
    &--stretch {
        align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
    }

    &__col01 {
        &--pc {
            @include pc() {
                width: 8.33%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 8.33%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 8.33%;
                box-sizing: border-box; 
            }
        }
    }
    &__col02 {
        &--pc {
            @include pc() {
                width: 16.6%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 16.6%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 16.6%;
                box-sizing: border-box; 
            }
        }
    }
    &__col03 {
        &--pc {
            @include pc() {
                width: 25%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 25%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 25.5%;
                box-sizing: border-box; 
            }
        }
    }   
    &__col04 {
        &--pc {
            @include pc() {
                width: 33.3%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 33.3%;
                box-sizing: border-box; 
            }
        }
        &--sm{
            @include sm() {
                width: 33.3%;
                box-sizing: border-box; 
            }
        }
    }
    &__col05 {
        &--pc {
            @include pc() {
                width: 41.7%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 41.7%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 41.7%;
                box-sizing: border-box; 
            }
        }
    }
    &__col06 {
        &--pc {
            @include pc() {
                width: 50%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 50%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 50%;
                box-sizing: border-box; 
            }
        }
    }
    &__col07 {
        &--pc {
            @include pc() {
                width: 58.3%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 58.3%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 58.3%;
                box-sizing: border-box; 
            }
        }
    }
    &__col08 {
        &--pc {
            @include pc() {
                width: 66.6%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 66.6%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 66.6%;
                box-sizing: border-box; 
            }
        }
    }
    &__col09 {
        &--pc {
            @include pc() {
                width: 75%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 75%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 75%;
                box-sizing: border-box; 
            }
        }
    }
    &__col10 {
        &--pc {
            @include pc() {
                width: 83.3%;
                box-sizing: border-box; 
            }         
        }
        &--tab {
            @include tab() {
                width: 83.3%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 83.3%;
                box-sizing: border-box; 
            }
        }
    }
    &__col11 {
        &--pc {
            @include pc() {
                width: 91.7%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 91.7%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 91.7%;
                box-sizing: border-box; 
            }
        }
    }
    &__col12 {
        &--pc {
            @include pc() {
                width: 100%;
                box-sizing: border-box; 
            }
        }
        &--tab {
            @include tab() {
                width: 100%;
                box-sizing: border-box; 
            }
        }
        &--sm {
            @include sm() {
                width: 100%;
                box-sizing: border-box; 
            }
        }
    }

}

.l-flex-row {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}