// ==============================
// ランディングページ background
// ==============================
.u-bg--light {
    background: $background-color_main-light;
}
.u-bg--dark {
    background: $background-color_main-dark;
}

