// ==============================
// フォントサイズ
// ==============================
.u-fontsize--s {
    font-size: $font-size_s;
}
.u-fontsize--m {
    font-size: $font-size_m;
}
.u-fontsize--l {
    font-size: $font-size_l;
}
.u-fontsize--xl {
    font-size: $font-size_xl;
}
.u-fontsize--xxl {
    font-size: $font-size_xxl;
}

.u-fontcolor--err {
    color: $font-color_err;
}

// .u-fontcolor--accent {
//     color: #76679b;
// }