.u-mrl--auto {
    margin-left: auto;
    margin-right: auto;
}

// ===========================
// margin-top
// ===========================
.u-mt--0 {
    margin-top: 0;
} 
.u-mt--s {
    margin-top: $space_s;
} 
.u-mt--m {
    margin-top: $space_m;
}
.u-mt--l {
    margin-top: $space_l;
}
.u-mt--xl {
    margin-top: $space_xl;
}
.u-mt--xxl {
    margin-top: $space_xxl;
}
.u-mt--3l {
    margin-top: $space_3l;
}
.u-mt--5l {
    margin-top: $space_5l;
}
// ===========================
// margin-bottom
// ===========================
.u-mb--0 {
    margin-bottom: 0;
} 
.u-mb--s {
    margin-bottom: $space_s;
} 
.u-mb--m {
    margin-bottom: $space_m;
}
.u-mb--l {
    margin-bottom: $space_l;
}
.u-mb--xl {
    margin-bottom: $space_xl;
}
.u-mb--xxl {
    margin-bottom: $space_xxl;
}
.u-mb--3l {
    margin-bottom: $space_3l;
}
.u-mb--5l {
    margin-bottom: $space_5l;
}
// ===========================
// margin-right
// ===========================
.u-mr--0 {
    margin-right: 0;
} 
.u-mr--s {
    margin-right: $space_s;
} 
.u-mr--l {
    margin-right: $space_l;
}
.u-mr--xl {
    margin-right: $space_xl;
}
.u-mr--xxl {
    margin-right: $space_xxl;
}
.u-mr--3l {
    margin-right: $space_3l;
}
.u-mr--5l {
    margin-right: $space_5l;
}
// ===========================
// margin-left
// ===========================
.u-ml--0 {
    margin-left: 0;
} 
.u-ml--s {
    margin-left: $space_s;
} 
.u-ml--m {
    margin-left: $space_m;
}
.u-ml--l {
    margin-left: $space_l;
}
.u-ml--xl {
    margin-left: $space_xl;
}
.u-ml--xxl {
    margin-left: $space_xxl;
}
.u-ml--3l {
    margin-left: $space_3l;
}
.u-ml--5l {
    margin-left: $space_5l;
}